.no-overflow {
	overflow : hidden;
}

.middle {
	margin : 0 auto;
	text-align: center;
}

.header {
	font-size : 200%;
	color : silver;
}

#body {
	background-color : #1F1F2E;
}

#character-select {
	text-align : center;
}

#char:hover {
	height : 150px;
}

#cs {
	text-align : center;
	color : white;
	font-size : 140%;
}

#canvas {
	margin : 0 auto;
}

#canvas {
	margin : 0 auto;
	text-align : center;
}

#stats {
	float : left;
	margin-left : 20%;
	position :absolute;

}

#stats p, #stats span {
	color : white;
	font-size : 120%;
}

body {
	text-align : center;
}
